@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;700;900&family=Poppins&display=swap');


* {
    padding: 0px;
    margin: 0px;
    font-family: "Martel Sans", sans-serif;
}

body {
    background-color: black;
}

.main {
    /* width: 80vw; */
    background-image: url("materials/images/background-image.jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

.nav-bar {
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

.logo {
    color: red;
    width: 112px;
    position: relative;
    z-index: 2;
    top: 10fpx;
}

.nav-bar-buttons {
    position: relative;
    z-index: 10;
}

.main-text {
    text-align: center;
    margin: auto;
    /* padding: 30px; */
    height: 100%;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 15;
    /* text-wrap: wrap;  */
}


#text1 {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;
    font-size: 48px;
}

#text2 {
    font-weight: 400;
    font-size: 24px;
}

#text3 {
    font-weight: 400;
    font-size: 20px;
}

.separation {
    height: 9px;
    width: 100%;
    background-color: #232323;
}

.btn-lang {
    font-weight: 400;
    background-color: rgba(33, 32, 32, 0.789);
    color: white;
    border: 0.4px solid #646363;
    padding: 0.25rem 1rem;
    margin-right: 15px;
    border-radius: 7px;
}

.btn-sign-in {
    font-weight: 600;
    background-color: red;
    color: white;
    border: 0px solid white;
    padding: 0.25rem 1rem;
    border-radius: 7px;
}

.btn-get-started {
    font-weight: bolder;
    font-size: large;
    color: white;
    background-color: red;
    border: 0px solid white;
    padding: 0.55rem 1rem;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
}

.main input {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: rgba(33, 32, 32, 0.789);
    color: rgb(255, 255, 255);
    border: 0.4px solid #646363;
    font-size: small;
    padding: 18px 30px;
    border-radius: 3px;
    margin: 5px;
    width: 15rem;
    height: 0.5rem;
}
/* 
.section-1 {
    display: flex;
    justify-content: space-between;
    height: 50rem;
}

.headings {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-heading {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    padding-top: 200px;
    padding-left: 175px;
}

.left-desc {
    margin-left: 175px;
    margin-top: 22px;
}
 */

.first-section {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 70vw;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg {
    position: relative;
}

#tv-image {
    width: 30vw;
    position: absolute;  
}

#tv-video {
    position: absolute;
    right: 0;
    /* z-index: -1; */
}